body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  background-color: rgb(192, 188, 188);
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
}

.songContainer {
  height: 400px;
  width: 500px;
  margin-top: 80px;
  border: none;
  background-color: rgb(155, 177, 195);
  border-radius: 50px;
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.5);
}

.imageContainer {
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -60px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 12px 20px 5px rgba(0, 0, 0, 0.5);
}

.imageContainer > img {
  height: 100%;
  width: 100%;
}

.songContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -60px;
}

.songContent > h3 {
  font-size: 20px;
  margin-bottom: auto;
}

audio {
  display: none;
}

.playerContainer {
  position: relative;
  top: 140px;
  height: 100px;
  width: 100vw;
  background-color: rgb(192, 188, 188);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progressBar {
  height: 2px;
  width: 100vw;
  margin-bottom: 10px;
  background-color: rgb(120, 161, 194);
}

.iconContainers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-1 {
  margin-right: 30px;
}

.icon-3 {
  margin-left: 30px;
}

.iconContainer {
  border: 1px solid rgb(120, 161, 194);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconContainer:hover {
  background-color: rgb(120, 161, 194);
}

.fas {
  padding: 10px;
  color: rgb(120, 161, 194);
}

.fas:hover {
  color: #fff;
}
